:root {
    --bg-primary: #2c2f33;
    --bg-secondary: #23272a;
    --scrollbar: #35393d;
    --scrollbar-active: #41464b;
    --lil-gradient: linear-gradient(
        315deg,
        rgba(58, 196, 242, 1) 0%,
        rgba(122, 184, 244, 1) 50%,
        rgba(98, 144, 242, 1) 100%
    );
}

body {
    margin: 32px;
    background-color: var(--bg-primary);
    overflow-y: hidden;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
    /* padding: 32px; */
    color: #ffffff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: calc(100vh - 66px);
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-weight: bold;
    max-height: 70px;
    flex: 2;
    align-items: top;
    position: relative;
}

.page-links {
    position: absolute;
    top: 8;
    right: 32;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* height: 100%; */
}

.page-body-bg {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 70px);
    border-radius: 0px;
    background: var(--lil-gradient);
    position: relative;
    padding: 4px;
    flex: 1;
    border-radius: 5px;
}

.page-body {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 32px;
    background: var(--bg-secondary);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px 4px 4px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 5px;
    background-clip: padding-box;
    border: 4px sold transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-active);
}
